{% extends 'master.html' %}
{% load static %}
{% block custom_style %}
    <link type="text/css"  href="{% static 'css/chat.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Tutte le chat</h4>
                    </div>

                </div>
                <div class="inbox_chat">
                    {% for chat in chats %}
                        {% include 'chat/includes/preview.html' with chat=chat %}
                    {% endfor %}
                </div>
            </div>
            <div class="mesgs">
                {% for chat in chats %}
                    {% ifequal chat chats.first %}
                        {% include 'shop/admin/chat/includes/messages.html' with chat=chat display='block' %}
                    {% else %}
                        {% include 'shop/admin/chat/includes/messages.html' with chat=chat display='none' %}
                    {% endifequal %}
                {% endfor %}
                {% comment %}<div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" />
                        <button class="msg_send_btn" type="button"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </div>{% endcomment %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            let chatLists = $(".chat_list");
            chatLists.first().addClass("active_chat");
            let chat_prefix = "preview_chat_";
            let messages_prefix = "messages_chat_";

            chatLists.on('click', function () {
                console.log("click");
                let chatListId = $(this).attr('id');

                let chatId = chatListId.replace(chat_prefix, "");
                let messagesChatId = messages_prefix + chatId;

                $(".msg_history").css('display', 'none');
                $("#" + messagesChatId).css('display', 'block');

                chatLists.removeClass("active_chat");
                $(this).addClass("active_chat");
                $(this).removeClass("bg-warning");

            });
        });
    </script>

{% endblock %}

