{% extends 'master.html' %}

{% block content %}
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Prodotto</th>
                <th scope="col">Confezione</th>
                <th scope="col">Quantità</th>
                <th scope="col">Prezzo/unità</th>
                <th scope="col">Di cui IVA</th>

            </tr>
            </thead>
            <tbody>
            {% for package_order in packages_order %}
                <tr>
                    <td>{{ package_order.package.product }}</td>
                    <td>{{ package_order.package }}</td>
                    <td>{{  package_order.requested_quantity }}</td>
                    <td>{{ package_order.price }} €</td>
                    <td>{{ package_order.vat_price }} € ({{ package_order.vat_percentage }} %)</td>
                </tr>
            {% endfor %}
            <tr>
                <th scope="row" colspan="3">Spedizione</th>
                <td colspan="2">{{ order.shipment.get.cost }} €</td>
            </tr>
            <tr>
                <th scope="row" colspan="3">Totale</th>
                <td>{{ order.total_price }} €</td>
                <td>{{ order.total_vat_price }} €</td>
            </tr>

            {% if request.user.seller.is_pharmacist %}
                <tr>
                    <th scope="col" colspan="3">Commissione totale guadagnata</th>
                    <td colspan="2">{{ earned_fee }} €</td>
                </tr>
            {% endif %}

            </tbody>
        </table>
    </div>

    <div class="row">
        <table class="table table-bordered">
            <thead>

            <tr>
                <th scope="col">Indirizzo di fatturazione</th>
                <th scope="col">Indirizzo di spedizione</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ shipping_address.raw_address }}</td>
                <td>{{ billing_address.raw_address }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Stato</th>
                <th scope="col">Corriere</th>
                <th scope="col">Codice di tracking</th>
                {% ifnotequal shipping_address.further_info None %}
                    <th scope="col">Info per il corriere</th>
                {% endifnotequal %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <select name="status" id="status" class="form-select btn-outline-primary bg-white">
                        {% for status in statuses %}
                            <option value="{{ status.id }}" {% ifequal status.id order.status.id %} selected {% endifequal %}>
                                {{ status.name }}
                            </option>
                        {% endfor %}
                    </select><h6 class="mt-2"><span class="status_badge badge bg-primary visually-hidden text-white"></span></h6>
                </td>
                <td>{{ order.shipment.get.courier.name}}</td>
                <td>
                    <input type="text"
                           name="tracking_code"
                           id="tracking_code"
                           value="{% ifnotequal order.shipment.get.tracking_code None %}{{ order.shipment.get.tracking_code }}{% endifnotequal %}"
                           data-shipment_url="{% url 'seller.orders.shipments.edit' order.id order.shipment.get.id  %}"
                           class="form-control border-primary bg-white"
                           placeholder="Codice di tracking">
                    <h6 class="mt-2"><span class="tracking_code_badge badge bg-primary visually-hidden text-white"></span></h6>
                </td>
                {% ifnotequal shipping_address.further_info None %}
                    <td>{{ shipping_address.further_info }}</td>
                {% endifnotequal %}
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function (){
            $("#status").change(function (){

                let formData = {"csrfmiddlewaretoken": "{{ csrf_token }}"};
                let formDataSerialized = $(this).serializeArray();

                formDataSerialized.forEach(function (element){
                    let name = element["name"];
                    formData[name] = element["value"];
                })

                $.ajax({

                    type: 'POST',

                    url: '{% url 'seller.orders.edit' 0 %}'.replace('0','{{ order.id }}'),

                    data: formData,

                    success: function (data) {
                        let statusBadge = $(".status_badge");
                        statusBadge.text(data["message"]);
                        statusBadge.fadeIn(2000);
                        statusBadge.fadeOut(3000);

                    }.bind(this),

                    error: function (response) {
                        let responseJson = response.responseJSON;
                        console.log(responseJson);
                        if(responseJson.hasOwnProperty('redirect'))
                            window.location.href = responseJson["redirect"];
                        else {
                            let statusBadge = $(".status_badge");
                            statusBadge.text(responseJson["message"]);
                            statusBadge.fadeIn(2000);
                            statusBadge.fadeOut(3000);
                        }
                    }

                });
            });

            $("#tracking_code").blur(function () {
                let formData = {"csrfmiddlewaretoken": "{{ csrf_token }}"};
                let formDataSerialized = $(this).serializeArray();

                formDataSerialized.forEach(function (element){
                    let name = element["name"];
                    formData[name] = element["value"];
                })

                console.log(formData);
                $.ajax({

                    type: 'POST',

                    url: $(this).data("shipment_url"),

                    data: formData,

                    success: function (data) {
                        let trackingCodeBadge = $(".tracking_code_badge");
                        trackingCodeBadge.text(data["message"]);
                        trackingCodeBadge.fadeIn(2000);
                        trackingCodeBadge.fadeOut(3000);

                    }.bind(this),

                    error: function (response) {
                        let responseJson = response.responseJSON;
                        console.log(responseJson);
                        if(responseJson.hasOwnProperty('redirect'))
                            window.location.href = responseJson["redirect"];
                        else {
                            let trackingCodeBadge = $(".tracking_code_badge");
                            trackingCodeBadge.text(responseJson["message"]);
                            trackingCodeBadge.fadeIn(2000);
                            trackingCodeBadge.fadeOut(3000);
                        }
                    }

                });
            });
        });
    </script>

{% endblock %}